* {
    margin: 0;
    padding: 0;
    border: 0;
}

.page {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 4.2fr 0.2fr;
    grid-template-areas:
      "nav"
      "form"
      "main"
      "footer";
}

@media (min-width: 576px) {
    .page {
        width: auto;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.4fr 1.6fr;
        grid-template-rows: 0.3fr 2fr 0.4fr;
        gap: 0px 0px;
        grid-template-areas:
        "nav form"
        "nav main"
        "footer main";
    }
}

nav {
    grid-area: nav;
    display: flex;
    background-color: #311337;
    color: #ffff;
    justify-content: space-between;
    height: 100%;
    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    & i {
        font-size: 50px;
    }
    & h1 {
        margin: 10px;
        font-size: 40px;
        font-family:'Courier New', Courier, monospace;
    }
    & button {
        background-color: #311337;
        margin: 20px 40px;
        color: #ffff;
    }
    & menu {
        display: none;
    }
}

@media (min-width: 576px) {
    nav {
        justify-content: start;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 150%;
        & span {
            height: 23%;
            width: 95%;
            border-bottom: solid 2px #8c877b;
            display: flex;
            text-align: center;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            & i {
                width: 30%;
                font-size: 7.3vh;
                margin: auto;
                padding-right: 6px;
            }
            & h1 {
                width: 70%;
                margin: auto;
                font-size: 5vh;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        & button {
            display: none;
        }
        & menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 14% 0 0 10%;
            & a {
                margin: 6% 0;
                font-size: 4vh;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: #ffff;
            }
        }
    }
}

form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    background-color: #8c877b;
    color: #ffff;
    height: 100%;
    & h4 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;
        height: 50%;
        font-family: Arial, Helvetica, sans-serif;
    }
    & select {
        display: flex;
        margin: 0 auto 25px auto;
        background-color: #ffff;
        color: #311337;
        height: 60px;
        width: 80%;
        font-size: 25px;
        border-radius: 10px;
        & option {
            font-size: 10px;
        }
    }
}

@media (min-width: 576px) {
    form {
        display: flex;
        & h4 {
            margin-top: .5%;
            font-size: 3.9vh;
            height: 30%;
        }
        & select {
            font-size: 3.3vh;
            height: 35%;
            width: 80%;
            margin: auto;
            & option {
                font-size: 3vh;
            }
        }
    }
}

main {
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4% auto;
    flex-direction: column;
    & .mobile {
        display: block;
        height: 100%;
        border: solid 3px #c3b9a4;
        border-radius: 15px;
        margin: 10px auto;
        width: 85%;
        & img {
            margin: 10px auto;
            height: 55%;
            width: auto;
            display: flex;
        }
        & h3 {
            font-size: 30px;
            width: auto;
            display: flex;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        & button {
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px auto;
            height: 50px;
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            background-color: #311337;
            border-radius: 10px;
        }
    }
    & .card-container {
        display: none;
        & .card {
            display: none;
            flex-direction: column;
            & img {
                margin: 10px auto;
                height: auto;
                width: 100px;
                display: none;
            }
            & h3 {
                font-size: 30px;
                width: auto;
                display: none;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;
            }
            & button {
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
                margin: 20px auto;
                height: 50px;
                width: 145px;
                display: none;
                align-items: center;
                justify-content: center;
                color: #ffff;
                background-color: #311337;
                border-radius: 10px;
            }
        }
    }


    @media (min-width: 576px) {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        & .mobile {
            display: none;
        }
        & .card-container {
            flex-wrap: wrap;
            display: flex;
            margin: auto;
            width: 90%;
            height: auto;
            justify-content: space-between;
            & .card {
                display: flex;
                justify-content: center;
                width: 22%;
                height: 50%;
                & img {
                    margin: 0 auto;
                    height: auto;
                    width: 80%;
                    display: flex;
                }
                & h3 {
                    font-size: 3vh;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    font-family: Arial, Helvetica, sans-serif;
                }
                & button {
                    display: flex;
                    font-size: 1.6vh;
                    height: 0;
                    padding: 2vh;
                    margin: auto;
                    width: 40%;
                    color: #ffff;
                    background-color: #311337;
                    border-radius: 10%;
                }
            }
        }

    }

    & .displace {
        font-size: 40px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        height: 100%;
        & p {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 18px;
            height: 20px;
            border: solid 2px #311337;
            border-radius: 15%;
        }
        & i {
            font-size: 40px;
            margin: 10px;
            color: #311337;
        }
    }

    @media (min-width: 576px) {
       .displace {
            font-size: 4vh;
            margin: 2vh auto 1vh auto;
            display: flex;
            height: auto;
            & p {
                align-items: center;
                margin: auto 4%;
                padding: .6%;
                height: 3.1vh;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            & i {
                font-size: 4.5vh;
                margin: auto 1%;
            }
        }
    }
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #311337;
    color: #ffff;
    height: 100%;
    & .social {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 20px auto 0 auto;
        font-size: 50px;
        justify-content: space-between;
        width: 20%;
        & i {
            font-size: 50px;
        }
    }
    & h5 {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 18px auto;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px) {
    footer {
        width: 100%;
        height: 100%;
        & .social {
            display: flex;
            height: 100%;
            justify-content: center;
            margin: auto;
            & i {
                display: flex;
                padding: 3vh;
                font-size: 5.6vh;
            }
        }
        & h5 {
            font-size: 3vh;
            font-family: Arial, Helvetica, sans-serif;
            margin: 1% auto 10% auto;
            height: 100%;
            display: flex;
            text-align: center;
        }
    }
}